*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: fantasy;
    font-weight: bold;
}
.bx-shadow{
    box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.2);
    background-color: rgb(243, 238, 232);
}

.heroSection{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(rgb(246, 185, 238), rgb(0, 105, 175));
    color: #333;
    margin: 0px;
    padding: 0px 60px;
    min-height: 400px;
}
.heroSection h1{
    font-weight: bold;
}
.heroSection img{
    height: 300px;
    padding:0;
    margin: 0;
}
.hero-img{
    display: flex;
    justify-content: center;

}
.clients .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #d8d8d8;
}

.clients img{
    padding: 20px 0;
    height: 70px;
}   

/*
about us styles 
*/

#main h2{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: #083a8f;
    font-family: Alkatra, cursive;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.about li{
    list-style: none;
}
.about i{
    color: blue
}
@media screen and (max-width: 768px){
    .client-img-div{
        justify-content: centers;
        padding: 0 20px;
        /* display: grid;
        grid-template-columns:repeat(auto-fit, minmax(50px, 120px));
        grid-template-rows: 1fr 1fr; */
    }
}
/* 
#service .sub-content{
    display: none;

}
#service .dropdown li:hover .sub-content{
    display: block;
} */

.section-title{
    text-align: center;
    padding: 30px 50px;
    color: #fff;
}
.service-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.service-content .service-card{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    border-radius: 30px;
    padding:  20px;
    margin: 10px;
    height: 300px;
    width: 200px;
    background: #eee8e8;
    
}
.service-content .service-card div{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #6195ee;
    display: flex;
    justify-content: center;
    padding-top: 4px;
}
.service-content p{
    font-size: 15px;
    color: #333;
    font-weight: 500;
    line-height: 1;
    margin: 10px 0;
    max-height:200px;
    max-width: 200px;
}
.service-content i{
    padding-top: 20px;
}

.team-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.team-content .card{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items:center;
    justify-content: center;
    border-radius: 30px;
    padding:  20px;
    margin: 10px;
    min-height: 300px;
    width: 200px;
    background: #eee8e8;
    
}
.team-content .team-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 70%;
    height: 200px;
}
.team-content .team-text .team-name{
    font-family: 'Alkatra', cursive;
    font-size: 1.8rem;
}


.team-content .card img{
    height: 150px;
    width: 150px;
    border: 3px solid goldenrod;
    border-radius: 50%;
}
.team-content .card .team-links{
    margin: 0;
    min-width: 200px;
}

.team-content .card a{
    color: #240101;
    font-weight: 500;
    line-height: 1;
    margin: 10px;
    max-height:200px;
    max-width: 200px;
}
.team-content .card:hover{
    background: #6195ee;
    color: #fff;
    box-shadow: none;
    transition: 2s;
}
/* --==================== contact section ======================-- */

#contact{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.contact-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

#contact .section-title p{
    color: #1c1b1b;
}
.location, .form-container{
    border-top: 3px solid goldenrod;
    border-radius: 20px;
    margin:  20px 40px;
    padding: 20px 40px;

}
#team .container{
    text-align: center;
}


/* .address,
.email,
.phone,
iframe{
    padding: 0 20px;
    margin: 20px;
} */

iframe{
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 10px;
}



.btn{
    background: goldenrod;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 10px;
    transition: 0.5s;
}

#service{background-color: #b59caa;
padding-bottom: 30px;}
#team{background-color:  #a49ab7;
padding-bottom: 30px;}

footer{
    background: #9d9cb5;
    color: #2b1717;
    font-size: 50px;
}

footer p{
   
    text-decoration: wavy;  
    font-family: Alkatra, cursive;
    font-weight: 100px;
    font-size: 25px;
}

@media screen and (max-width: 768px){
    .heroSection img{
        height: 200px;
        width: 200px;
    }

    .team-content .card{
        min-height: 400px;
        min-width: 300px;
        padding: 0px;
        margin-bottom: 20px;
    }
    



}
    